@use '../../shared/styles/variables' as *;
@use '../../shared/styles/mixins' as *;

.contentArea {
  flex: 1;
  padding: 14px;
  background: var(--theme-content-bg);
  overflow-y: auto;
  overflow-x: hidden;
  @include custom-scrollbar;
}

@media (max-width: 540px) {
  .contentArea {
    padding: $spacing-sm;
  }
}
